body {
  font-family: Verdana, Geneva, Tahoma, sans-serif; /* Use a clean sans-serif font */
  line-height: 1.6; /* Improve readability */
  background-color: #f0f0f0; /* Light background color */
  color: #333; /* Dark text for contrast */
  padding: 0;
  margin: 0;
}

/* Make sure the page takes up full height */
html,
body {
  height: 100%;
}
