body {
  font-family: Verdana, Geneva, Tahoma, sans-serif; /* Use a clean sans-serif font */
  line-height: 1.6; /* Improve readability */
  background-color: #f0f0f0; /* Light background color */
  color: #333; /* Dark text for contrast */
  padding: 0;
  margin: 0;
}

/* Make sure the page takes up full height */
html,
body {
  padding-left: 0.5%;
  height: 100%;
}

/* Links */
a {
  color: #007bff;
  text-decoration: none;
  padding-right: 1%;
}
a:hover {
  color: #2600ff;
}

nav {
  list-style-type: none; /* Remove bullets */
  display: flex; /* Display items in a row */
  justify-content: center; /* Centers content horizontally */
  margin: 0;
  padding: 0;
  text-align: center;
}

.no-bullets {
  list-style-type: none;
  display: flex;
  bottom: 0;
  padding: 1%;
  justify-content: center;
}
