{% extends "base.html" %}
  
{% block content %}
  <h2 class="text">Add Clothes</h2>
  <p class="text">test</p>

  <!-- import three into html -->
  <script type="importmap">
    {
      "imports": {
        "three": "https://cdn.jsdelivr.net/npm/three@0.166.1/build/three.module.js",
        "three/addons/": "https://cdn.jsdelivr.net/npm/three@0.166.1/examples/jsm/"
      }
    }
  </script>

  <!-- Custom JavaScript with your Three.js code -->
  <script
    type="module"
    src="{{ url_for('static', filename='/js/app.js') }}"
  ></script>
{% endblock %}