<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Serve to Conserve</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/general.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/buttons.css') }}"
    />
  </head>

  <body>
    <img src="{{url_for('static', filename='images/logo.webp')}}" class="logo">
    <h2 class="text">Donation Map</h2>
    <p class="text">
      Here is the map for local clothing donation sites. You can donate your
      unused or unwanted clothing in these locations.
    </p>

    <div class="container">
        <iframe
        width="800"
        height="600"
        style="border: 0"
        loading="lazy"
        allowfullscreen
        src="https://www.google.com/maps/embed/v1/search?key=AIzaSyA95gnzrLCx1-kErO3r9ELxYnohGNHnnAo&q=clothing+donation"
      ></iframe>
      <p>Powered by Google.</p>
    </div>

    </p> 

    <!-- import three into html -->
    <script type="importmap">
      {
        "imports": {
          "three": "https://cdn.jsdelivr.net/npm/three@0.166.1/build/three.module.js",
          "three/addons/": "https://cdn.jsdelivr.net/npm/three@0.166.1/examples/jsm/"
        }
      }
    </script>

    <!-- Custom JavaScript with your Three.js code -->
    <script
      type="module"
      src="{{ url_for('static', filename='/js/app.js') }}"
    ></script>

  </body>
  <footer>
    <!-- Navigation links should go here, inside the body -->
    <nav>
      <ul>
        <li class="no-bullets">
          <a href="{{ url_for('index') }}">
            <img
              src="{{url_for('static', filename='images/home.webp')}}"
              class="icon-button"
            />
          </a>
          <a href="{{ url_for('generate_outfit') }}">
            <img
              src="{{url_for('static', filename='images/generate-outfit.webp')}}"
              class="icon-button"
            />
          </a>
          <a href="{{ url_for('add_clothes') }}">
            <img
              src="{{url_for('static', filename='images/add-item.webp')}}"
              class="icon-button"
            />
          </a>
          <a href="{{ url_for('wardrobe') }}">
            <img
              src="{{url_for('static', filename='images/wardrobe.webp')}}"
              class="icon-button"
            />
          </a>
          <a href="{{ url_for('friends') }}">
            <img
              src="{{url_for('static', filename='images/friends.webp')}}"
              class="icon-button"
            />
          </a>
          <a href="{{ url_for('trade') }}">
            <img
              src="{{url_for('static', filename='images/trade.webp')}}"
              class="icon-button"
            />
          </a>
          <a href="{{ url_for('donate') }}">
            <img
              src="{{url_for('static', filename='images/donate.webp')}}"
              class="icon-button"
            />
          </a>
        </li>
      </ul>
    </nav>
  </footer>
</html>
