{% extends "base.html" %}

{% block content %}
    
    <h2 class="text">Log Your Outfits</h2>
    <p class="text">test</p>
    <button class="outfit-button" id="confirm-button">
      <img
        src="{{url_for('static', filename='images/confirm.webp')}}"
        class="confirm"
      />
    </button>


    <!-- import three into html -->
    <script type="importmap">
      {
        "imports": {
          "three": "https://cdn.jsdelivr.net/npm/three@0.166.1/build/three.module.js",
          "three/addons/": "https://cdn.jsdelivr.net/npm/three@0.166.1/examples/jsm/"
        }
      }
    </script>

    <script
      type="module"
      src="{{ url_for('static', filename='/js/app.js') }}"
    ></script>
    <script src="{{url_for('static', filename='js/leaves.js')}}"></script>
{% endblock %}