{% extends "base.html" %}

{% block content %}
  <h2 class="text">Log Your Outfits</h2>
  <!-- outfit button -->
  <button class="confirm-button" id="confirm-button">
    <img
      src="{{url_for('static', filename='images/confirm.webp')}}"
      class="confirm"
    />
  </button>

  <div class="token-modal" id="token-modal">
    <div class="token-modal-content">
      <img class="token-modal-img" src="{{url_for('static', filename='images/5leaves.webp')}}" alt="5 leaves">
    </div>
  </div>

  <!-- import three into html -->
  <script type="importmap">
    {
      "imports": {
        "three": "https://cdn.jsdelivr.net/npm/three@0.166.1/build/three.module.js",
        "three/addons/": "https://cdn.jsdelivr.net/npm/three@0.166.1/examples/jsm/"
      }
    }
  </script>

  <script
    type="module"
    src="{{ url_for('static', filename='/js/app.js') }}"
  ></script>
  <script src="{{url_for('static', filename='js/leaves.js')}}"></script>
{% endblock %}