body {
  font-family: Verdana, Geneva, Tahoma, sans-serif; /* Use a clean sans-serif font */
  line-height: 1.6; /* Improve readability */
  background-color: #f1e4d3; /* Light background color */
  color: #333; /* Dark text for contrast */
  padding: 0;
  margin: 0;
}

/* Make sure the page takes up full height */
html,
body {
  height: 100%;
  text-align: center;
  font-family: "Sour Gummy", sans-serif;
}

/* Links */
a {
  color: #007bff;
  text-decoration: none;
}
a:hover {
  color: #2600ff;
}

.no-bullets {
  list-style-type: none;
  padding: 0;
}

.add_clothes-button,
.donation_map-button,
.friends-button,
.index-button,
.log_outfit-button,
.trade-button,
.wardrobe-button {
  border-radius: 1%;
  background-color: black;
  color: white;
}

.text {
  text-align: center;
}

.logo {
  width: 80%;
  height: auto;
}
