body {
  font-family: Verdana, Geneva, Tahoma, sans-serif; /* Use a clean sans-serif font */
  line-height: 1.6; /* Improve readability */
  background-color: #f5ecdf; /* Light background color */
  color: #333; /* Dark text for contrast */
  padding: 0;
  margin-top: 300px; /* push everything down cause of header*/
}

footer {
  align-items: center;
  transform: translate(-2%, 0);
}

/* Make sure the page takes up full height */
html,
body {
  height: 100%;
  text-align: center;
  font-family: "Sour Gummy", sans-serif;
}

/* Links */
a {
  color: #007bff;
  text-decoration: none;
}
a:hover {
  color: #2600ff;
}

.no-bullets {
  list-style-type: none;
  bottom: 0;
}

.add_clothes-button,
.donation_map-button,
.friends-button,
.index-button,
.log_outfit-button,
.trade-button,
.wardrobe-button {
  border-radius: 1%;
  background-color: black;
  color: white;
}

.text {
  text-align: center;
}

.header {
  background-color: #f0e1cb;
  display: block;
  width: 100vw;
  max-height: 300px;
  height: auto;
  position: absolute;
  top: 0;
}
.logo {
  position: relative;
  display: block;
  max-width: 500px;
  width: 50%;
  height: auto;
  left: 50vw;
  transform: translate(-50%, 0);
}

.leaderboard {
  width: 50%;
  height: auto;
  text-align: center;
}

.leaves-image {
  top: 25%;
  left: 12.5%;
  height: auto;
  width: 10%;
  display: block;
  position: absolute;
}
.leaves {
  left: 5%;
  top: 25%;
  display: block;
  font-size: 8vw;
  position: absolute;
  transform: translate(0, -75%);
}
.mail-image {
  top: 30%;
  right: 10%;
  height: auto;
  width: 10vw;
  display: block;
  position: absolute;
}
